global:
  postgresql:
    auth:
      postgresPassword: "{{ .Values.secret.postgresql_password }}"
      database: linkwarden
primary:
  persistence:
    enabled: true
    storageClass: ceph-rbd
    reclaimPolicy: Retain
    accessModes:
      - ReadWriteOnce
  service:
    type: LoadBalancer
    loadBalancerIP: {{ .Values.load_balancer.addresses.services.postgresql }}
    annotations:
      - metallb.universe.tf/allow-shared-ip: postgresql
