apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephfs-smb-export
  template:
    metadata:
      labels:
        app: cephfs-smb-export
    spec:
      containers:
        - env:
            - name: TZ
              value: America/Sao_Paulo
            - name: SAMBA_WORKGROUP
              value: WORKGROUP
            - name: SAMBA_LOG_LEVEL
              value: '3'
          image: ghcr.io/crazy-max/samba:4.21.4
          imagePullPolicy: IfNotPresent
          name: samba
          ports:
            - containerPort: 445
              name: smb
              protocol: TCP
          volumeMounts:
            - mountPath: /data/config.yml
              name: config
              subPath: config.yml
            - mountPath: /samba/share
              name: share
      volumes:
        - configMap:
            name: cephfs-smb-export-config
          name: config
        - name: share
          persistentVolumeClaim:
            claimName: cephfs-shared-storage
---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  csi:
    driver: rook-ceph.cephfs.csi.ceph.com
    nodeStageSecretRef:
      name: cephfs-user-secret
      namespace: rook-ceph
    volumeAttributes:
      clusterID: rook-ceph
      fsName: ceph-filesystem
      rootPath: /volumes/nfs-exports/homelab-nfs/dfd23da6-d80d-48c7-b568-025ec7badd17
      staticVolume: 'true'
    volumeHandle: cephfs-shared-storage
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
  namespace: rook-ceph
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ''
  volumeMode: Filesystem
  volumeName: cephfs-shared-storage
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  ports:
    - name: smb
      port: 445
      protocol: TCP
      targetPort: 445
  selector:
    app: cephfs-smb-export
  type: LoadBalancer
