apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephfs-smb-export
  template:
    metadata:
      labels:
        app: cephfs-smb-export
    spec:
      containers:
<<<<<<< HEAD
        - envFrom:
            - secretRef:
                name: cephfs-smb-export-credentials
          image: ghcr.io/crazy-max/samba:4.21.4
=======
        - image: ghcr.io/crazy-max/samba:4.21.4
>>>>>>> ad53ddf (added cephfs smb export)
          imagePullPolicy: IfNotPresent
          name: samba
          ports:
            - containerPort: 445
              name: smb
              protocol: TCP
          volumeMounts:
<<<<<<< HEAD
            - mountPath: /export
              name: data
      volumes:
        - name: data
=======
            - mountPath: /data/config.yml
              name: config
              subPath: config.yml
            - mountPath: /samba/share
              name: share
      volumes:
        - configMap:
            name: cephfs-smb-export-config
          name: config
        - name: share
>>>>>>> ad53ddf (added cephfs smb export)
          persistentVolumeClaim:
            claimName: cephfs-shared-storage
---
apiVersion: v1
data:
  config.yml: "auth:\n  - user: homelab\n    group: homelab\n    uid: 2002\n    gid:\
    \ 2002\n    password: teste123\n\nglobal:\n  - \"server min protocol = SMB2\"\n\
    \  - \"server max protocol = SMB3\"\n  - \"map to guest = Bad User\"\n  - \"ea\
    \ support = yes\"\n  - \"vfs objects = fruit streams_xattr\"\n  - \"fruit:metadata\
    \ = stream\"\n  - \"fruit:model = MacSamba\"\n  - \"inherit permissions = yes\"\
    \n  - \"create mask = 0664\"\n  - \"directory mask = 0775\"\n\nshare:\n  - name:\
    \ cephfs\n    path: /samba/share\n    browsable: yes\n    readonly: no\n    guestok:\
    \ no\n    validusers: homelab\n    writelist: homelab\n    veto: no\n    recycle:\
    \ yes\n"
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-smb-export-config
  namespace: rook-ceph
---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  csi:
    driver: rook-ceph.cephfs.csi.ceph.com
    nodeStageSecretRef:
      name: cephfs-user-secret
      namespace: rook-ceph
    volumeAttributes:
      clusterID: rook-ceph
      fsName: ceph-filesystem
      rootPath: /volumes/nfs-exports/homelab-nfs/dfd23da6-d80d-48c7-b568-025ec7badd17
      staticVolume: 'true'
    volumeHandle: cephfs-shared-storage
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
  namespace: rook-ceph
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ''
  volumeMode: Filesystem
  volumeName: cephfs-shared-storage
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  ports:
    - name: smb
      port: 445
      protocol: TCP
      targetPort: 445
  selector:
    app: cephfs-smb-export
  type: LoadBalancer
