apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephfs-smb-export
  template:
    metadata:
      labels:
        app: cephfs-smb-export
    spec:
      containers:
        - envFrom:
            - secretRef:
                name: smb-export-credentials
          image: ghcr.io/crazy-max/samba:4.21.4
          imagePullPolicy: IfNotPresent
          name: samba
          ports:
            - containerPort: 445
              name: smb
              protocol: TCP
          volumeMounts:
            - mountPath: /export
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: cephfs-shared-storage
---
apiVersion: v1
data:
  smb.conf: "[global]\n  server min protocol = SMB2\n  map to guest = Bad User\n \
    \ security = user\n  load printers = no\n  printing = bsd\n  disable spoolss =\
    \ yes\n  smb2 leases = yes\n  aio read size = 1\n  aio write size = 1\n  # Preserve/propagate\
    \ ACLs on CephFS and store NT ACLs in xattrs\n  vfs objects = acl_xattr\n  ea\
    \ support = yes\n  map acl inherit = yes\n  inherit acls = yes\n  inherit permissions\
    \ = yes\n\n[cephfs]\n  path = /export\n  browseable = yes\n  read only = no\n\
    \  guest ok = no\n  valid users = @smbusers\n\n  # >>> Squash everything to uid/gid\
    \ 2002 via a fixed unix account <<<\n  force user = smb2002\n  force group = smb2002\n\
    \n  # Sensible masks; adjust if you need stricter perms\n  create mask = 0664\n\
    \  force create mode = 0664\n  directory mask = 0775\n  force directory mode =\
    \ 0775\n"
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-smb-export-conf
  namespace: rook-ceph
---
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  csi:
    driver: rook-ceph.cephfs.csi.ceph.com
    nodeStageSecretRef:
      name: cephfs-user-secret
      namespace: rook-ceph
    volumeAttributes:
      clusterID: rook-ceph
      fsName: ceph-filesystem
      rootPath: /volumes/nfs-exports/homelab-nfs/dfd23da6-d80d-48c7-b568-025ec7badd17
      staticVolume: 'true'
    volumeHandle: cephfs-shared-storage
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage
  namespace: rook-ceph
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ''
  volumeMode: Filesystem
  volumeName: cephfs-shared-storage
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: cephfs-smb-export
  name: cephfs-smb-export
  namespace: rook-ceph
spec:
  ports:
    - name: smb
      port: 445
      protocol: TCP
      targetPort: 445
  selector:
    app: cephfs-smb-export
  type: LoadBalancer
