apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: homelab-nfs-ganesha-config-patcher
  namespace: rook-ceph
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - command:
            - /bin/bash
            - -lc
            - "set -euo pipefail\nSUBVOL_GROUP='nfs-exports'\nSUBVOL_NAME='homelab-nfs'\n\
              FS='ceph-filesystem'\n\nCEPH_CONFIG=/etc/ceph/ceph.conf\nMON_CONFIG=/etc/rook/mon-endpoints\n\
              KEYRING_FILE=/etc/ceph/keyring\nendpoints=$(cat \"$MON_CONFIG\")\nmon_endpoints=$(echo\
              \ \"$endpoints\" | sed 's/[a-z0-9_-]\\+=//g')\nmkdir -p /etc/ceph\n\
              cat > \"$CEPH_CONFIG\" <<EOF\n[global]\nmon_host = $mon_endpoints\n\
              [client.admin]\nkeyring = $KEYRING_FILE\nEOF\nif   [ -f /var/lib/rook-ceph-mon/ceph-secret\
              \ ];  then ceph_secret=$(cat /var/lib/rook-ceph-mon/ceph-secret)\nelif\
              \ [ -f /var/lib/rook-ceph-mon/admin-secret ]; then ceph_secret=$(cat\
              \ /var/lib/rook-ceph-mon/admin-secret)\nelse echo \"No ceph admin secret\
              \ found\"; exit 2; fi\nif [ -f /var/lib/rook-ceph-mon/ceph-username\
              \ ]; then username=$(cat /var/lib/rook-ceph-mon/ceph-username); else\
              \ username=client.admin; fi\ncat > \"$KEYRING_FILE\" <<EOF\n[$username]\n\
              key = $ceph_secret\nEOF\n\nceph -c \"$CEPH_CONFIG\" mgr module enable\
              \ nfs || true\nceph -c \"$CEPH_CONFIG\" mgr module enable volumes ||\
              \ true\nceph -c \"$CEPH_CONFIG\" mgr module enable rook || true\nceph\
              \ -c \"$CEPH_CONFIG\" orch set backend rook || true\n\nceph -c \"$CEPH_CONFIG\"\
              \ fs subvolumegroup create \"$FS\" \"$SUBVOL_GROUP\" || true\nceph -c\
              \ \"$CEPH_CONFIG\" fs subvolume create \"$FS\" \"$SUBVOL_NAME\" \\\n\
              \  --group_name \"$SUBVOL_GROUP\" --size 0 --uid 2002 --gid 2002 --mode\
              \ 2775 || true\n\nSUBVOL_PATH=\"$(ceph -c \"$CEPH_CONFIG\" fs subvolume\
              \ getpath \"$FS\" \"$SUBVOL_NAME\" --group_name \"$SUBVOL_GROUP\")\"\
              \n\ncluster='homelab-nfs'\n\nawk -v newval=\"$SUBVOL_PATH\" '{\n  gsub(/\"\
              path\":[[:space:]]*\"[^\"]*\"/, \"\\\"path\\\": \\\"\" newval \"\\\"\
              \");\n  print\n}' /etc/ganesha/export.json > /tmp/export.json\n\nceph\
              \ -c \"$CEPH_CONFIG\" nfs export apply \"$cluster\" -i /tmp/export.json\n\
              ceph -c \"$CEPH_CONFIG\" nfs cluster config set \"$cluster\" /etc/ganesha/custom.ganesha.conf\n\
              \necho \"--- CUSTOM CONFIGURATIONS ---\"\nrados -p .nfs --namespace\
              \ homelab-nfs get \"conf-nfs.homelab-nfs\"     /tmp/conf-nfs     ||\
              \ true\nrados -p .nfs --namespace homelab-nfs get \"export-1\"     \
              \           /tmp/export-1     || true\nrados -p .nfs --namespace homelab-nfs\
              \ get \"userconf-nfs.homelab-nfs\" /tmp/userconf-nfs || true\n\ncat\
              \ /tmp/conf-nfs     || echo \"(conf-nfs not found)\"\ncat /tmp/export-1\
              \     || echo \"(export-1 not found)\"\ncat /tmp/userconf-nfs || echo\
              \ \"(userconf-nfs not found)\"\n\nceph -c \"$CEPH_CONFIG\" orch set\
              \ backend \"\" || true\n"
          image: quay.io/ceph/ceph:v19
          name: apply
          volumeMounts:
            - mountPath: /etc/rook
              name: mon-endpoints
            - mountPath: /etc/ceph
              name: ceph-config
            - mountPath: /var/lib/rook-ceph-mon
              name: ceph-admin-secret
              readOnly: true
            - mountPath: /etc/ganesha
              name: homelab-nfs-ganesha-custom-config
              readOnly: true
      restartPolicy: OnFailure
      serviceAccountName: rook-ceph-default
      volumes:
        - configMap:
            items:
              - key: data
                path: mon-endpoints
            name: rook-ceph-mon-endpoints
          name: mon-endpoints
        - emptyDir: {}
          name: ceph-config
        - name: ceph-admin-secret
          secret:
            secretName: rook-ceph-mon
        - configMap:
            name: homelab-nfs-ganesha-custom-config
          name: homelab-nfs-ganesha-custom-config
  ttlSecondsAfterFinished: 3600
---
apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: homelab-nfs
  namespace: rook-ceph
spec:
  server:
    active: 1
    logLevel: NIV_DEBUG
    placement:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    resources:
      limits:
        memory: 2Gi
      requests:
        cpu: 50m
        memory: 64Mi
---
apiVersion: v1
data:
  custom.ganesha.conf: "\nNFSv4 {\n  Minor_Versions = 0, 1, 2;\n  Allow_Numeric_Owners\
    \ = true;\n  Only_Numeric_Owners = true;\n}\n\nEXPORT_DEFAULTS {\n  Squash = All_Squash;\n\
    \  Manage_Gids = true;\n  Anonymous_uid = 2002;\n  Anonymous_gid = 2002;\n  SecType\
    \ = \"sys\";\n}\n\n"
  export.json: '{"access_type":"RW","clients":[{"access_type":"RW","addresses":["10.10.10.0/24"],"protocols":[4],"sectype":["sys"],"squash":"all_squash"}],"export_id":1,"fsal":{"fs_name":"ceph-filesystem","name":"CEPH"},"path":"/exported/path","pseudo":"/homelab","security_label":false,"squash":"all_squash"}'
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: homelab-nfs-export
  namespace: rook-ceph
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
    lbipam.cilium.io/ips: 10.10.10.150
    lbipam.cilium.io/sharing-key: homelab-nfs
  name: homelab-nfs
  namespace: rook-ceph
spec:
  externalTrafficPolicy: Cluster
  ports:
    - name: nfs
      nodePort: 30325
      port: 2049
      protocol: TCP
      targetPort: 2049
  selector:
    app: rook-ceph-nfs
    ceph_daemon_type: nfs
  type: LoadBalancer
