apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: ceph-nfs-export-apply-homelab-nfs
  namespace: rook-ceph
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - command:
            - /bin/bash
            - -lc
            - 'set -euo pipefail

              CEPH_CONFIG=/etc/ceph/ceph.conf

              MON_CONFIG=/etc/rook/mon-endpoints

              KEYRING_FILE=/etc/ceph/keyring


              endpoints=$(cat "$MON_CONFIG")

              mon_endpoints=$(echo "$endpoints" | sed ''s/[a-z0-9_-]\+=//g'')

              mkdir -p /etc/ceph

              cat > "$CEPH_CONFIG" <<EOF

              [global]

              mon_host = $mon_endpoints

              [client.admin]

              keyring = $KEYRING_FILE

              EOF


              if   [ -f /var/lib/rook-ceph-mon/ceph-secret ];  then ceph_secret=$(cat
              /var/lib/rook-ceph-mon/ceph-secret)

              elif [ -f /var/lib/rook-ceph-mon/admin-secret ]; then ceph_secret=$(cat
              /var/lib/rook-ceph-mon/admin-secret)

              else echo "No ceph admin secret found in rook-ceph-mon"; exit 2; fi


              if [ -f /var/lib/rook-ceph-mon/ceph-username ]; then username=$(cat
              /var/lib/rook-ceph-mon/ceph-username)

              else username=client.admin; fi


              cat > "$KEYRING_FILE" <<EOF

              [$username]

              key = $ceph_secret

              EOF


              ceph -c "$CEPH_CONFIG" mgr module enable nfs || true


              cluster=''homelab-nfs''


              ceph -c "$CEPH_CONFIG" nfs cluster config set "$cluster" -i /etc/ganesha/config/ganesha-config.conf
              || true


              echo "Current NFS-Ganesha configuration:"

              echo "---"

              ceph -c "$CEPH_CONFIG" nfs cluster config get "$cluster" || true

              echo "---"

              ceph -c "$CEPH_CONFIG" nfs export ls "$cluster" --detailed

              echo "---"

              '
          image: quay.io/ceph/ceph:v19
          name: apply
          volumeMounts:
            - mountPath: /etc/rook
              name: mon-endpoints
            - mountPath: /etc/ceph
              name: ceph-config
            - mountPath: /var/lib/rook-ceph-mon
              name: ceph-admin-secret
              readOnly: true
            - mountPath: /etc/ganesha/config
              name: ganesha-config
              readOnly: true
      restartPolicy: OnFailure
      serviceAccountName: rook-ceph-default
      volumes:
        - configMap:
            items:
              - key: data
                path: mon-endpoints
            name: rook-ceph-mon-endpoints
          name: mon-endpoints
        - emptyDir: {}
          name: ceph-config
        - name: ceph-admin-secret
          secret:
            secretName: rook-ceph-mon
        - configMap:
            name: ceph-nfs-ganesha-config-homelab-nfs
          name: ganesha-config
  ttlSecondsAfterFinished: 3600
---
apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: homelab-nfs
  namespace: rook-ceph
spec:
  server:
    active: 4
    placement:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 64Mi
---
apiVersion: v1
data:
  ganesha-config.conf: "NFS_CORE_PARAM {\n        Enable_NLM = false;\n        Enable_RQUOTA\
    \ = false;\n        Protocols = 4;\n        allow_set_io_flusher_fail = true;\n\
    }\n\nMDCACHE {\n        Dir_Chunk = 0;\n}\n\nEXPORT_DEFAULTS {\n        Attr_Expiration_Time\
    \ = 0;\n}\n\nEXPORT {\n        Access_Type = RW;\n        Path = \"/\";\n    \
    \    Pseudo = \"/homelab\";\n        Squash = No_Root_Squash;\n        Security_Label\
    \ = false;\n        Protocols = 4;\n        Transports = TCP;\n        FSAL {\n\
    \                Name = CEPH;\n                FS_Name = \"ceph-filesystem\";\n\
    \        }\n        CLIENTS {\n          Addresses = 10.10.10.0/24;\n        \
    \  Access_Type = RW;\n          Squash = No_Root_Squash;\n        }\n}\n\nNFSv4\
    \ {\n        Delegations = false;\n        RecoveryBackend = \"rados_cluster\"\
    ;\n        Minor_Versions = 0, 1, 2;\n}\n\nRADOS_KV {\n        ceph_conf = \"\
    /etc/ceph/ceph.conf\";\n        userid = nfs-ganesha.homelab-nfs.a;\n        nodeid\
    \ = homelab-nfs.a;\n        pool = \".nfs\";\n        namespace = \"homelab-nfs\"\
    ;\n}\n\nRADOS_URLS {\n        ceph_conf = \"/etc/ceph/ceph.conf\";\n        userid\
    \ = nfs-ganesha.homelab-nfs.a;\n        watch_url = \"rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\"\
    ;\n}\n\nRGW {\n        name = \"client.nfs-ganesha.homelab-nfs.a\";\n}\n\n%url\
    \    rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\n"
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: ceph-nfs-ganesha-config-homelab-nfs
  namespace: rook-ceph
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
    lbipam.cilium.io/ips: 10.10.10.150
  name: nfs
  namespace: rook-ceph
spec:
  externalTrafficPolicy: Cluster
  ports:
    - name: nfs
      port: 2049
      protocol: TCP
      targetPort: 2049
    - name: nfs-udp
      port: 2049
      protocol: UDP
      targetPort: 2049
  selector:
    app: rook-ceph-nfs
    ceph_daemon_type: nfs
  type: LoadBalancer
