apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: ceph-nfs-export-apply-homelab-nfs
  namespace: rook-ceph
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - command:
            - /bin/bash
            - -lc
            - 'set -euo pipefail


              CEPH_CONFIG=/etc/ceph/ceph.conf

              MON_CONFIG=/etc/rook/mon-endpoints

              KEYRING_FILE=/etc/ceph/keyring

              endpoints=$(cat "$MON_CONFIG")

              mon_endpoints=$(echo "$endpoints" | sed ''s/[a-z0-9_-]\+=//g'')

              mkdir -p /etc/ceph

              cat > "$CEPH_CONFIG" <<EOF

              [global]

              mon_host = $mon_endpoints

              [client.admin]

              keyring = $KEYRING_FILE

              EOF

              if   [ -f /var/lib/rook-ceph-mon/ceph-secret ];  then ceph_secret=$(cat
              /var/lib/rook-ceph-mon/ceph-secret)

              elif [ -f /var/lib/rook-ceph-mon/admin-secret ]; then ceph_secret=$(cat
              /var/lib/rook-ceph-mon/admin-secret)

              else echo "No ceph admin secret found"; exit 2; fi

              if [ -f /var/lib/rook-ceph-mon/ceph-username ]; then username=$(cat
              /var/lib/rook-ceph-mon/ceph-username); else username=client.admin; fi

              cat > "$KEYRING_FILE" <<EOF

              [$username]

              key = $ceph_secret

              EOF


              ceph -c "$CEPH_CONFIG" mgr module enable nfs || true


              cluster=''homelab-nfs''


              ceph -c "$CEPH_CONFIG" nfs export apply "$cluster" -i /etc/ganesha/export.json

              '
          image: quay.io/ceph/ceph:v19
          name: apply
          volumeMounts:
            - mountPath: /etc/rook
              name: mon-endpoints
            - mountPath: /etc/ceph
              name: ceph-config
            - mountPath: /var/lib/rook-ceph-mon
              name: ceph-admin-secret
              readOnly: true
            - mountPath: /etc/ganesha
              name: export
              readOnly: true
      restartPolicy: OnFailure
      serviceAccountName: rook-ceph-default
      volumes:
        - configMap:
            items:
              - key: data
                path: mon-endpoints
            name: rook-ceph-mon-endpoints
          name: mon-endpoints
        - emptyDir: {}
          name: ceph-config
        - name: ceph-admin-secret
          secret:
            secretName: rook-ceph-mon
        - configMap:
            name: ceph-nfs-export-homelab-nfs
          name: export
  ttlSecondsAfterFinished: 3600
---
apiVersion: ceph.rook.io/v1
kind: CephNFS
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: homelab-nfs
  namespace: rook-ceph
spec:
  server:
    active: 2
    placement:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 64Mi
---
apiVersion: v1
data:
  export.json: '{"access_type":"RW","clients":[{"access_type":"RW","addresses":["10.10.10.0/24"],"squash":"no_root_squash"}],"fsal":{"fs_name":"ceph-filesystem","name":"CEPH"},"path":"/","protocols":[3,4],"pseudo":"/homelab","security_label":false,"squash":"no_root_squash","transports":["TCP"]}'
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: ceph-nfs-export-homelab-nfs
  namespace: rook-ceph
---
apiVersion: v1
data:
  config: "NFS_CORE_PARAM {\n  Enable_NLM = false;\n  Enable_RQUOTA = false;\n  MNT_PORT\
    \ = 20048;\n  Protocols = 3, 4;\n}\nMDCACHE {\n  Dir_Chunk = 0;\n}\nEXPORT_DEFAULTS\
    \ {\n  Attr_Expiration_Time = 0;\n}\nNFSv4 {\n  Delegations = false;\n  RecoveryBackend\
    \ = \"rados_cluster\";\n  Minor_Versions = 0, 1, 2;\n}\nRADOS_KV {\n  ceph_conf\
    \ = \"/etc/ceph/ceph.conf\";\n  userid = nfs-ganesha.homelab-nfs.a;\n  nodeid\
    \ = homelab-nfs.a;\n  pool = \".nfs\";\n  namespace = \"homelab-nfs\";\n}\nRADOS_URLS\
    \ {\n  ceph_conf = \"/etc/ceph/ceph.conf\";\n  userid = nfs-ganesha.homelab-nfs.a;\n\
    \  watch_url = \"rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\";\n}\nRGW {\n\
    \  name = \"client.nfs-ganesha.homelab-nfs.a\";\n}\n\n%url  rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\n"
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: rook-ceph-nfs
    ceph_daemon_id: homelab-nfs-a
    ceph_daemon_type: nfs
    ceph_nfs: homelab-nfs
    instance: a
    nfs: homelab-nfs-a
    rook_cluster: rook-ceph
  name: rook-ceph-nfs-homelab-nfs-a
  namespace: rook-ceph
---
apiVersion: v1
data:
  config: "NFS_CORE_PARAM {\n  Enable_NLM = false;\n  Enable_RQUOTA = false;\n  MNT_PORT\
    \ = 20048;\n  Protocols = 3, 4;\n}\nMDCACHE {\n  Dir_Chunk = 0;\n}\nEXPORT_DEFAULTS\
    \ {\n  Attr_Expiration_Time = 0;\n}\nNFSv4 {\n  Delegations = false;\n  RecoveryBackend\
    \ = \"rados_cluster\";\n  Minor_Versions = 0, 1, 2;\n}\nRADOS_KV {\n  ceph_conf\
    \ = \"/etc/ceph/ceph.conf\";\n  userid = nfs-ganesha.homelab-nfs.b;\n  nodeid\
    \ = homelab-nfs.b;\n  pool = \".nfs\";\n  namespace = \"homelab-nfs\";\n}\nRADOS_URLS\
    \ {\n  ceph_conf = \"/etc/ceph/ceph.conf\";\n  userid = nfs-ganesha.homelab-nfs.b;\n\
    \  watch_url = \"rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\";\n}\nRGW {\n\
    \  name = \"client.nfs-ganesha.homelab-nfs.b\";\n}\n\n%url  rados://.nfs/homelab-nfs/conf-nfs.homelab-nfs\n"
kind: ConfigMap
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  labels:
    app: rook-ceph-nfs
    ceph_daemon_id: homelab-nfs-b
    ceph_daemon_type: nfs
    ceph_nfs: homelab-nfs
    instance: b
    nfs: homelab-nfs-b
    rook_cluster: rook-ceph
  name: rook-ceph-nfs-homelab-nfs-b
  namespace: rook-ceph
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
    lbipam.cilium.io/ips: 10.10.10.150
  name: homelab-nfs
  namespace: rook-ceph
spec:
  externalTrafficPolicy: Cluster
  ports:
    - name: nfs
      port: 2049
      protocol: TCP
      targetPort: 2049
    - name: nfs-udp
      port: 2049
      protocol: UDP
      targetPort: 2049
    - name: mountd-tcp
      port: 20048
      protocol: TCP
      targetPort: 20048
    - name: mountd-udp
      port: 20048
      protocol: UDP
      targetPort: 20048
    - name: rpcbind-tcp
      port: 111
      protocol: TCP
      targetPort: 111
    - name: rpcbind-udp
      port: 111
      protocol: UDP
      targetPort: 111
  selector:
    app: rook-ceph-nfs
    ceph_daemon_type: nfs
  type: LoadBalancer
