certificates:
  namespaces:
    - "{{ .Values.namespaces.services }}"
    - "{{ .Values.namespaces.monitoring }}"
domain: "{{ .Values.secret.domain }}"
cloudflare:
  email: "{{ .Values.secret.cloudflare_email }}"
  api_token: "{{ .Values.secret.cloudflare_api_token }}"
