apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    kubenix/k8s-version: '1.33'
    kubenix/project-name: ze-homelab
  name: kube-vip
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: kube-vip
      app.kubernetes.io/name: kube-vip
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: kube-vip
        app.kubernetes.io/name: kube-vip
    spec:
      containers:
        - args:
            - manager
          env:
            - name: vip_address
              value: 10.10.10.250
            - name: cp_enable
              value: 'true'
            - name: lb_enable
              value: 'false'
            - name: lb_port
              value: '6443'
            - name: svc_election
              value: 'true'
            - name: svc_enable
              value: 'true'
            - name: vip_arp
              value: 'true'
            - name: vip_cidr
              value: '32'
            - name: vip_interface
              value: enp1s0
            - name: vip_leaderelection
              value: 'true'
            - name: vip_subnet
              value: '32'
          image: ghcr.io/kube-vip/kube-vip:v0.9.1
          imagePullPolicy: IfNotPresent
          name: kube-vip
          resources: {}
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
              drop:
                - ALL
      hostNetwork: true
      serviceAccountName: kube-vip
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    kubenix/k8s-version: '1.33'
    kubenix/project-name: ze-homelab
  labels:
    app.kubernetes.io/instance: kube-vip
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kube-vip
    app.kubernetes.io/version: v0.9.1
    helm.sh/chart: kube-vip-0.7.1
  name: kube-vip
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    kubenix/k8s-version: '1.33'
    kubenix/project-name: ze-homelab
    rbac.authorization.kubernetes.io/autoupdate: 'true'
  name: kube-vip
  namespace: kube-system
rules:
  - apiGroups:
      - ''
    resources:
      - services
      - services/status
      - nodes
      - endpoints
      - pods
    verbs:
      - list
      - get
      - watch
      - update
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - list
      - get
      - watch
      - update
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  annotations:
    kubenix/k8s-version: '1.33'
    kubenix/project-name: ze-homelab
  labels:
    app.kubernetes.io/instance: kube-vip
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: kube-vip
    app.kubernetes.io/version: v0.9.1
    helm.sh/chart: kube-vip-0.7.1
  name: kube-vip
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-vip
subjects:
  - kind: ServiceAccount
    name: kube-vip
    namespace: kube-system
