apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage-downloads
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  csi:
    driver: rook-ceph.cephfs.csi.ceph.com
    nodeStageSecretRef:
      name: cephfs-user-secret
      namespace: apps
    volumeAttributes:
      clusterID: rook-ceph
      fsName: ceph-filesystem
      rootPath: /volumes/nfs-exports/homelab-nfs/dfd23da6-d80d-48c7-b568-025ec7badd17/downloads
      staticVolume: 'true'
    volumeHandle: cephfs-shared-storage-downloads
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    kubenix/k8s-version: '1.32'
    kubenix/project-name: ze-homelab
  name: cephfs-shared-storage-downloads
  namespace: apps
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ''
  volumeMode: Filesystem
  volumeName: cephfs-shared-storage-downloads
